<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<link rel="shortcut icon" href="/img/favicon.png">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>@ViewData["Title"] - Flying Cats</title>
	<link rel="stylesheet" href="~/css/main.css" />
</head>
<body>

@RenderBody()

</body>
</html>