body {
	background-image: linear-gradient(135deg, #201e44, #131c26);
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: sans-serif;
	color: black;
}

/* Basically just a copy of Google Maps' buttons */
.control {
	background-color: white;
	border: 0;
	margin: 10px;
	padding: 0;
	position: absolute;
	cursor: pointer;
	border-radius: 2px;
	height: 40px;
	width: 40px;
	box-shadow: rgba(0, 0, 0, 0.3) 0 1px 4px -1px;
	overflow: hidden;
	outline: currentColor none medium;
	z-index: 5;
	transition: all 0.75s ease-in-out;
}

.control img {
	width: 18px;
	height: 18px;
	margin: 11px;
}

#btnUser {
	right: 0;
	top: 52px;
	cursor: auto;
}

#btnUserLogin {
	display: flex;
	flex-direction: column;
	align-items: center;
	visibility: hidden;
	transition: all 0.75s ease-in-out;
}

#btnUserIcon {
	width: 40px;
	height: 40px;
	cursor: pointer;
	transition: all 0.75s ease-in-out;
}

#btnUser td {
	padding: 4px;
}

#btnUser input[type="text"], #btnUser input[type="password"] {
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	border-bottom: 2px solid rgba(100, 100, 100, 0.6);
	margin-left: 16px;
}

#btnUser .buttonContainer {
	margin: 8px 8px 0 0;
	align-self: flex-end;
}

#mapContainer, #map {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}

.buttonContainer {
	display: flex;
	flex-direction: row;
}

.button {
	font-weight: bold;
	text-align: center;
	padding: 12px;
	margin: 4px;
	border-radius: 4px;
	cursor: pointer;
	transition: all 0.15s ease-in-out;
	-moz-user-select: none;
	-webkit-user-select: none;
	min-width: 100px;
	color: #1976d2;
}

.button:hover {
	background-color: rgba(207, 216, 220, 0.25);
}